.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
/*.json
/*.log
/*.zip
/asm/
/astralsorcery/
/backups/
/betterfps.txt
/bin/
/BotaniaVars.dat
/config/*-client.toml
/config/*.bak
/config/ae2/client.json
/config/Discord-Integration.toml
/config/hqm/remote/remote/data.json
/config/irons_spellbooks-client.toml
/config/jei/blacklist.cfg
/config/jei/bookmarks.ini
/config/jei/ingredient-list-mod-sort-order.ini
/config/jei/recipe-category-sort-order.ini
/config/jei/world/*
/config/jei/worldSettings.cfg
/config/pneumaticcraft/ArmorFeatureStatus.cfg
/config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
/config/spark/tmp/*
/config/splash.properties
/config/valkyrienskies/*_client.json
/config/valkyrienskies/schemas/*_client.schema.json
/config/workshop_for_handsome_adventurer-special-client.json
/coremods/
/crash-reports/
/ct_dumps/
/data/
/eula.txt
/icon.png
/instance.json
/journeymap/
/libraries/
/local/
/logs/
/minecolonies/scans/
/minetweaker.log
/mods
/mods/
/openloader/.cache
/options.txt
/overlordplayersquads.dat
/Release.key
/resourcepacks/
/saves/
/schematics/*
/screenshots/
/server-resource-packs/
/servers.dat
/servers.dat_old
/Surge/
/texturepacks/
/usercache.json
/usernamecache.json
/world/
/config/jei/ingredient-list-type-sort-order.ini
/config/jei/jei-client.ini
/config/jei/jei-colors.ini
