.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
/*.json
/*.log
/*.zip
/asm/
/astralsorcery/
/backups/
/betterfps.txt
/bin/
/BotaniaVars.dat
/config/ae2/client.json
/config/diet-client.toml
/config/Discord-Integration.toml
/config/hqm/remote/remote/data.json
/config/irons_spellbooks-client.toml
/config/jei/blacklist.cfg
/config/jei/bookmarks.ini
/config/jei/ingredient-list-mod-sort-order.ini
/config/jei/recipe-category-sort-order.ini
/config/jei/world/*
/config/jei/worldSettings.cfg
/config/pneumaticcraft-client.toml
/config/pneumaticcraft/ArmorFeatureStatus.cfg
/config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
/config/railways-client.toml
/config/salt-client.toml
/config/solcarrot-client.toml
/config/spark/tmp/*
/config/splash.properties
/config/tombstone-client.toml
/coremods/
/crash-reports/
/ct_dumps/
/data/
/eula.txt
/icon.png
/instance.json
/journeymap/
/libraries/
/local/
/logs/
/minecolonies/scans/
/minetweaker.log
/mods
/mods/
/openloader/.cache
/options.txt
/overlordplayersquads.dat
/Release.key
/resourcepacks/
/saves/
/schematics/*
/screenshots/
/server-resource-packs/
/servers.dat
/servers.dat_old
/Surge/
/texturepacks/
/usercache.json
/usernamecache.json
/world/
/config/mna-client.toml
/config/valkyrienskies/vs_client.json
/config/valkyrienskies/vs_eureka_client.json
/config/workshop_for_handsome_adventurer-special-client.json
/config/reactive-client.toml
/config/mutil-client.toml
/config/mffs-client.toml
/config/eidolon-client.toml
/config/deep_aether-client.toml
/config/aether-client.toml
