.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
/*.json
/*.log
/*.zip
/asm/
/astralsorcery/
/backups/
/betterfps.txt
/bin/
/BotaniaVars.dat
/config/hqm/remote/remote/data.json
/config/jei/bookmarks.ini
/config/jei/ingredient-list-mod-sort-order.ini
/config/JEI/worldSettings.cfg
/config/jei/worldSettings.cfg
/config/splash.properties
/config/splash.properties
/config/tombstone-client.toml
/coremods/
/crash-reports/
/ct_dumps/
/data/
/eula.txt
/icon.png
/instance.json
/journeymap/
/libraries/
/local/
/logs/
/minecolonies/scans/
/minetweaker.log
/mods
/mods/
/openloader/.cache
/options.txt
/overlordplayersquads.dat
/Release.key
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/servers.dat
/Surge/
/texturepacks/
/usercache.json
/usernamecache.json
/world/